<h1> Welcome to Weather Smasher T-Rex Ultra 3000 </h1>



<h3> What city do you want to check? </h3>


    <form action="/show_city">
    <input name="city" type="text">
    <button type="submit">Check</button>
    </form>