
#main-box {
    margin: auto; 
    text-align: center;
    width: 60%;
    height: 100%;
}

#weather-box {
    text-align: left;
    width: 100%;
    height: 50%;
    float: left;
    padding-top: 20px;
    padding-bottom: 40px;
}

#form-box {
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

.secondary-info {
    height: 50%;
    width: 33%;
    float: left;
}

.tertiary-info {
    display: inline-block;
    width: 120px;
    height: 90%;
    margin: 3px;
    background-color: rgba(8, 23, 66, 0.651);
    padding-top: 20px;
    padding-bottom: 20px;
}

